doctype html
html
	title=TitleOfPage
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
body
	-var which = 2
	include menuBar.jade
	block content
	script(src='/javascripts/jquery-2.1.4.js')
	script(src='/bootstrap/js/bootstrap.min.js')